mixin messageDisplay(m)
  .message
    time
      a(href='/m/' + m.key.split('~')[1] + '~' + m.key.split('~')[2])= m.value.created
    p!= m.value.tagged.join('')
    if m.value.media.length
      img(src=m.value.media)

doctype html
html
  head
    title tns
    meta(charset='utf-8')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    <link rel="stylesheet" href="/tns.css">
  body
    #wrapper
      #flappy
        h1 The Non Sequitur
        p "Elegant quote" - someone nobody's heard of
        p.show
        p.credits Credit for gifs:&#xa0;
          a(href='https://giphy.com/ericaofanderson') https://giphy.com/ericaofanderson
        p.credits Source code:&#xa0;
          a(href='https://github.com/ednapiranha/tns') https://github.com/ednapiranha/tns

      #messages
        if tag.length
          h2= 'tag: ' + tag

          for m in messages
            +messageDisplay(m)

        else
          for m in messages
            +messageDisplay(m)

    form(method='post', action='/post')
      input(type='text', name='message', placeholder='*TEXT: Whatever you want to post.', required)
      input(type='text', name='media', placeholder='URL: Giphy URLs only for now.')
      button(type='submit') add message