doctype html
html
  head
    title tns
    meta(charset='utf-8')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    <link rel="stylesheet" href="/tns.css">
  body
    #wrapper
      #flappy
        h1 The Non Sequitur
        p Welcome to TNS. This project is probably older than the time you spent at your first job plus your second job.
        p Post whatever you're feeling or wanting to rant about. Keep it somewhat classy. I mean, you can swear or talk about toilet humor but don't be a total shitcreep.
        p Whatever you write will be anonymous, so try to be a responsible adult childperson.
        p You do you.
        p Anyway, enjoy.

      #messages
        if tag.length
          h2= 'tag: ' + tag

          for m in messages
            p!= m.tagged.join('')

        else
          h2 recent
          for m in messages
            p!= m.tagged.join('')

      form(method='post', action='/post')
        input(type='text', name='message', placeholder='whatever you want to say.')
        button(type='submit') add message