doctype html
html
  head
    title tns
    meta(charset='utf-8')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    <link rel="stylesheet" href="/tns.css">
  body
    #wrapper
      #flappy
        h1 The Non Sequitur
        span
        p Welcome to TNS. Here's a random FAQ of questions nobody asked but there are answers for anyway:
        p What is TNS? It's a one-bit site that you can anonymously post auto-tagged messages. If you select a tagged word, you will potentially see other posts tagged with the same word somewhere in the sentence.
        p.show
        p How old is this project? This project is probably older than the time you spent at your first job plus your second job.
        p What is a good post? Post whatever you're feeling or wanting to rant about. Keep it somewhat classy. I mean, you can swear or talk about toilet humor but don't be a total jackass.
        p.show
        p Isn't anonymous bad? No, anonymity isn't bad. Jackasses are just being jerks. As a result, try to be a responsible adult childperson and lower your immediate personal gratification wants and needs. Respect others who are using this site if you want the same respect back. Nobody has time for your bullshit.
        p You do you.
        p Anyway, enjoy.
        p.show
        p.credits Credit for gifs:&#xa0;
          a(href='https://giphy.com/borrachas1/') https://giphy.com/borrachas1
        p.credits Source code:&#xa0;
          a(href='https://github.com/ednapiranha/tns') https://github.com/ednapiranha/tns

      #messages
        if tag.length
          h2= 'tag: ' + tag

          for m in messages
            .message
              time
                a(href='/m/' + m.key.split('~')[1] + '~' + m.key.split('~')[2])= m.value.created
              p!= m.value.tagged.join('')
              if m.value.media.length
                img(src=m.media)

        else
          h2 recent
          for m in messages
            .message
              time
                a(href='/m/' + m.key.split('~')[1] + '~' + m.key.split('~')[2])= m.value.created
              p!= m.value.tagged.join('')
              if m.value.media.length
                img(src=m.value.media)

    form(method='post', action='/post')
      input(type='text', name='message', placeholder='*TEXT: Whatever you want to post.', required)
      input(type='text', name='media', placeholder='URL: Giphy URLs only for now.')
      button(type='submit') add message